@inherits LayoutComponentBase

<RadzenComponents />

<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
            <RadzenLabel Text="Sample micro-services architecture" />
        </RadzenStack>
    </RadzenHeader>
    <Menu SidebarExpanded="_sidebarExpanded"></Menu>
    <RadzenBody>
        <div class="rz-p-3">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap">
            <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
             
            </RadzenStack>
        </RadzenStack>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool _sidebarExpanded = true;
    
}
