bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea/
.vscode/

Front/bin
Front/obj

Libraries/CommonDto/bin
Libraries/CommonDto/obj

Libraries/CommonServices/bin
Libraries/CommonServices/obj

Services/Gateway/bin
Services/Gateway/obj

Services/SeedMicroService/bin
Services/SeedMicroService/obj

Services/CropMicroService/bin
Services/CropMicroService/obj

Services/StocksMicroService/bin
Services/StocksMicroService/obj