bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea/
.vscode/

Front/bin
Front/obj

Libraries/CommonDto/bin
Libraries/CommonDto/obj

Libraries/CommonServices/bin
Libraries/CommonServices/obj

Services/Gateway/bin
Services/Gateway/obj

Services/SeedMicroService/bin
Services/SeedMicroService/obj
Services/SeedMicroService/SeedDb.db
Services/SeedMicroService/SeedDb.db-shm
Services/SeedMicroService/SeedDb.db-wal

Services/CropMicroService/bin
Services/CropMicroService/obj
Services/CropMicroService/CropDb.db

Services/StocksMicroService/bin
Services/StocksMicroService/obj

